.show{
    padding: 1.5rem;
    border-radius: 20px;
}
table{
    background-color: white;
    margin-top: 6px;
    box-shadow: 4px 5px 5px black;
    border: 4px inset black;
}
.table tr th, td{
    text-align: center;
}
