@font-face{
    src:url("./../../wwwroot/Font/coolvetica compressed hv.otf");
    font-family:'Principal';
}
body{
    font-family: 'Principal' format('truetype');
}
.showcase
{
    background-image:url("https://wallpapers.com/images/hd/silhouette-of-landscape-fondos-de-pantalla-o7laa9cz8zah3k35.jpg");
    min-height:400px;
    width:100%;
    background-size: 100%;
    position: relative;
    z-index: 1;
    box-shadow:0 4px 10px  black;
    border-bottom: 2px black inset ;
}
.showcase::before{
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}
.showcase .showcase-container{
    padding:20px;
}
.button-sland button{
    background:rgba(0,0,0,0.4);
    color:white;
    border-radius:50px;
    border:none;
    padding:6px;
    height: 50px;
    transition: 300ms all ease;
}
.button-sland button:hover{
    background-color:white;
    color:black;
}
.showcase-title{
    color:white;
    margin-top:20px;
    flex-wrap:nowrap;
}
.img-p{
    width: 100%;
}
.img-p img::after{
    background:red;
    width: 100%;
    height: 100%;
    
}
.buscar-d{
    border: none;
    height:3.5em;
    border-radius: 50px;
    padding: 10px;
}
.cont-img-body{
    text-align: center;
    padding: 0.5rem;

}
.cont-p img{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
hr{
    background: linear-gradient(to right, rgb(255, 255, 255), blue, rgb(255, 255, 255));
    height: 0.2rem;
}
.cont-p{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    box-shadow:0 0 5px black;
    border: 4px solid inset black;
    background-color: white;
}
.cont-a img[data-id="1"], .cont-a img[data-id="3"]{
    box-shadow: 0 4px 6px black;
    border-radius: 20px;
    
}
.cont-a img[data-id="2"]{
    box-shadow: 0 4px 6px black;
    border-radius: 20px;
}
.cont-a{
    padding: 30px;
}
.cont-a img[data-id="1"]{
    transform: skew(-19deg); 
    border-bottom-left-radius: 100px;
}
.cont-a img[data-id="3"]{
    transform: skew(19deg); 
    border-bottom-right-radius: 100px;

}
