@{
    ViewData["Title"] = "Home Page";
}

<div class="showcase">
    <div class="container showcase-container show-back">
        <div class="d-flex button-sland">
            <button class="flex-grow-1 m-1">Discover</button>
            <button class="flex-grow-1 m-1">Animation</button>
            <button class="flex-grow-1 m-1">Branding</button>
            <button class="flex-grow-1 m-1">Ilustration</button>
            <button class="flex-grow-1 m-1">Mobile</button>
            <button class="flex-grow-1 m-1">Print</button>
            <button class="flex-grow-1 m-1">Product Design</button>
            <button class="flex-grow-1 m-1">Tipography</button>
            <button class="flex-grow-1 m-1">Web Design</button>
        </div>
        <div class="showcase-title">
            <div class="justify-content-center align-items-center flex-wrap d-flex w-50 mx-auto ">
                <h2>Hola Como Estan Todos Panitas</h2>
                <br>
                <div class="text-center mt-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Adipisci laboriosam aspernatur nostrum sequi
                    voluptate perspiciatis cum repellat dicta animi architecto aliquam,
                    dignissimos dolorem, consequuntur minima, quis dolorum sapiente est enim?
                    <input type="text" placeholder="Buscar" class="buscar-d mt-4 w-100">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container mt-3">
    <center>
        <h2>Productos</h2>
        <hr>
    </center>
    
    <div class="d-flex">
        <div class="flex-grow-1 w-25 m-2  cont-p">
            <div class="img-p">
                <img  class="lazy-load"  style="width: 100%; height:200px;"
                    src="https://w.forfun.com/fetch/ae/ae6453110a3418fe16b993ef7eb3442b.jpeg">
            </div> <br>
            <center>
                <h3>Hola</h3>
            </center>
                <hr>
            <div class="cont-img-body">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos iure vero adipisci obcaecati sunt veniam, dicta beatae corrupti quos. Neque, vero asperiores necessitatibus nihil tempora at commodi reiciendis quos quisquam.
            </div>

        </div>
        <div class="flex-grow-1 m-2 w-25 cont-p">
            <div class="img-p">
                <img  class="lazy-load"  style="width: 100%; height:200px;"
                    src="https://images.unsplash.com/photo-1503614472-8c93d56e92ce?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D">
            </div>
             <br>
            <center>
                <h3>Hola</h3>
            </center>
                <hr>
            <div class="cont-img-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci tempore, ex sed ea velit veniam nihil? Necessitatibus asperiores, corrupti, maxime totam unde consequuntur qui et deserunt doloribus esse sunt officia?
            </div>
        </div>
        <div class="flex-grow-1 m-2 w-25 cont-p">
            <div class="img-p">
                <img  class="lazy-load"  style="max-width: 100%; height:200px;"
                    src="https://articles-images.sftcdn.net/wp-content/uploads/sites/2/2018/06/fondos-de-pantalla-naturaleza.jpg">
            </div>
             <br>
            <center>
                <h3>Hola</h3>
            </center>
                <hr>
            <div class="cont-img-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi delectus iste sapiente provident sit sed quibusdam quia nihil animi temporibus ea error porro fuga ut in, odio unde nostrum.
            </div>
        </div>
        <div class="flex-grow-1 m-2 w-25 cont-p">
            <div class="img-p">
                <img  class="lazy-load"  style="width: 100%; height:200px;"
                    src="https://p4.wallpaperbetter.com/wallpaper/66/161/265/nature-maligne-lake-island-mountains-wallpaper-preview.jpg">
            </div>
             <br>
            <center>
                <h3>Hola</h3>
            </center>
                <hr>
            <div class="cont-img-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis debitis architecto, sint illo vel molestias itaque laborum facere sapiente unde ducimus id neque perferendis cum. Doloribus repellendus qui consequuntur tenetur.
            </div>
        </div>
    </div> 
     <center>
            <h3>Galeria De Imagenes</h3>
            <hr>
    </center>
    <div class="paramos d-flex flex-wrap">
        <div class="flex-grow w-25 cont-a">
             <img class="lazy-load" data-id="3" style="width:100%;height:300px"
                src="https://i.pinimg.com/564x/7d/8d/83/7d8d83bcd31c04c0081900af2f2b8954.jpg" alt="">
        </div>
        <div class="flex-grow w-50 cont-a">
            <img  class="lazy-load"  data-id="2" style="width:100%;height:300px"
            src="https://i.pinimg.com/564x/74/ca/f7/74caf733602726f800dbe0f5246e2e3b.jpg" alt="">
        </div>
        <div class="flex-grow w-25 cont-a">
            <img  class="lazy-load"  data-id="1" style="width:100%;height:300px"
                src="https://i.pinimg.com/564x/84/7f/e9/847fe98af13d049a78bf28738ea6e166.jpg" alt="">
        </div>
        <div class="d-flex w-100">
            <div class="w-25 flex-grow cont-a m-2">
                <img  class="lazy-load"  data-id="1" style="width:100%;height:300px"
                src="https://i.pinimg.com/564x/26/c5/21/26c521930dd73c0bf8a8675b08698b51.jpg" alt="">
            </div>
            <div class="w-50 flex-grow cont-a m-2">
                <img  class="lazy-load"  data-id="2"  style="width:100%;height:300px"
                src="https://i.pinimg.com/564x/b7/14/f2/b714f2573fa94afc4fa02a1d8843f095.jpg" alt="">
            </div>
            <div class="w-25 flex-grow cont-a m-2">
                <img class="lazy-load" data-id="3" style="width:100%;height:300px"
                src="https://i.pinimg.com/236x/6d/dd/1d/6ddd1d05c52e656575df0d89a5149c38.jpg" alt="">
            </div>    
        </div>
        
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  var lazyImages = [].slice.call(document.querySelectorAll(".lazy-load"));
  
  function lazyLoad() {
    lazyImages.forEach(function(image) {
      if (image.getBoundingClientRect().top <= window.innerHeight && image.getBoundingClientRect().bottom >= 0) {
        image.src = image.dataset.src;
        image.classList.remove("lazy-load");
        lazyImages = lazyImages.filter(function(img) {
          return img !== image;
        });
      }
    });
    if (lazyImages.length === 0) {
      document.removeEventListener("scroll", lazyLoad);
      window.removeEventListener("resize", lazyLoad);
      window.removeEventListener("orientationchange", lazyLoad);
    }
  }

});
</script>