@font-face{
    src:url("./../../wwwroot/Font/coolvetica compressed hv.otf");
    font-family:'Principal';
}
body[b-290qwq6xov]{
    font-family: 'Principal' format('truetype');
}
.showcase[b-290qwq6xov]
{
    background-image:url("https://wallpapers.com/images/hd/silhouette-of-landscape-fondos-de-pantalla-o7laa9cz8zah3k35.jpg");
    min-height:400px;
    width:100%;
    background-size: 100%;
    position: relative;
    z-index: 1;
    box-shadow:0 4px 10px  black;
    border-bottom: 2px black inset ;
}
.showcase[b-290qwq6xov]::before{
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}
.showcase .showcase-container[b-290qwq6xov]{
    padding:20px;
}
.button-sland button[b-290qwq6xov]{
    background:rgba(0,0,0,0.4);
    color:white;
    border-radius:50px;
    border:none;
    padding:6px;
    height: 50px;
    transition: 300ms all ease;
}
.button-sland button:hover[b-290qwq6xov]{
    background-color:white;
    color:black;
}
.showcase-title[b-290qwq6xov]{
    color:white;
    margin-top:20px;
    flex-wrap:nowrap;
}
.img-p[b-290qwq6xov]{
    width: 100%;
}
.img-p img[b-290qwq6xov]::after{
    background:red;
    width: 100%;
    height: 100%;
    
}
.buscar-d[b-290qwq6xov]{
    border: none;
    height:3.5em;
    border-radius: 50px;
    padding: 10px;
}
.cont-img-body[b-290qwq6xov]{
    text-align: center;
    padding: 0.5rem;

}
.cont-p img[b-290qwq6xov]{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
hr[b-290qwq6xov]{
    background: linear-gradient(to right, rgb(247, 62, 62), blue, black);
    height: 0.2rem;
}
.cont-p[b-290qwq6xov]{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    box-shadow:0 0 5px black;
    border: 4px solid inset black;
    background-color: white;
}